body {
    text-align: center;
    font-family: "Myriad Pro", sans-serif;
    color: white;
    font-weight: 400;
    margin: 0;
}

.clearfix {
    clear: both;
}

.container_1 nav{
    line-height: 22px;
    color: black;
    background-color:white;
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    float: left;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 5px;
}

nav ul li a {
    float: right;
    float: reverse;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    margin-left: 80px;
    margin-top: 5px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    border-radius: 30px;   
}

a.hover {
    color:  rgb(14, 191, 221);
}

li {
    list-style-type: none;
}


h2 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0 0 0;
}

h4 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 400px;
}

p {
    font-size: 18px;
    margin: 10px 320px;
    align-content: center;
    line-height: 24px;
}


#mission {
    background-image: url(../images/main_mountains.jpg);
    background-repeat: no-repeat;
    color: white;
    clear: both;
    padding-top: 350px;
    padding-bottom: 100px;
}

#mission .fas {
    font-size: 10px;
    line-height: 10px;
    vertical-align: 6px;
}

#about {
    color: black;
    padding: 50px 0 50px 0;
}

#about h2 {
    color: rgb(14, 191, 221);
}

#team {
    background-color: rgb(14, 191, 221);
    height: 500px;
    padding: 40px 140px 40px 140px;
}

#team img {
    border-radius: 100px;
    clear: both;
}

figure {
    float: left;
    width: 250px;
    margin: 5 60px;
}

figcaption p {
    font-style: italic;
    margin: 0 0;
}

#googleMap {
    width:100%;
    height:400px;
}

#footer {
    background-color: rgb(69, 73, 77);
    height: 120px;
    clear: both;
    color: white;
    padding: 10px 20px 10px 20px;
}

.left li a{
    float: left;
    color: white;
    margin-left: 20px;
}

.right li a{
    color: white;
}

.fa-stack ul li a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.far {
    font-size: 40px;
}

#footer .fab {
    font-size: 18px;
}

#footer .fas {
    font-size: 18px;
}

.bottom_line p {
    float: right;
    font-size: 10px;
    margin: 10px 0 0 20px;
    color: white;
}

.footer li a {
    text-transform: uppercase;

}

span.fa-stack {
    color: white;

}



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }